<html>
    <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>"></script>
</head>


<body class = "container">

    <center>
        <div>
            <img src="/img/logo.png" alt="" srcset="">
        </div>
        <div class ="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
        <h1>
            Mis Practicas Node.js
        </h1>
    
    <h2 >Jose Lopez Acosta</h2>
    </div>
    </center>