<%-include('partials/header.ejs')%>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   
<%-include('partials/nav.ejs')%>

<section>


    <form id="form" method="post" action="/alumnos">

    <button id="btnBuscar">Buscar</button>
    <input type="number" name = "matricula" id="matricula" placeholder="Matricula" >
    <input type="text" id ="nombre" name="nombre" placeholder="Nombre">
    <input type="text" id ="domicilio" name="domicilio" placeholder="Domicilio">
    <input type="text" id = "Sexo" name="sexo" placeholder="M o F">
    <input type="text" id = "especialidad" name="especialidad" placeholder="Especialidad" >


    <div style="float:right;margin-right: 5.5rem;margin-top: 1rem;">
        <button  type="submit">Insertar</button>
       
        
        
    </div>
    
    <div class ="container"> 
        <table class ="table table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Matricula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Domicilio</th>
                <th scope="col">Sexo</th>
                <th scope="col">Especialidad</th>


            </tr>


            <% 
              if(reg!=null){
               for (var i = 0; i < reg.length; i++) { %>
                <tr>
                  <td><%= reg[i].id %></td>
                  <td><%= reg[i].matricula %></td>
                  <td><%= reg[i].nombre %></td>
                  <td><%= reg[i].domicilio %></td>
                  <td><%= reg[i].sexo %></td>
                  <td><%= reg[i].especialidad %></td>
                </tr>
              <% }
              
            }%>
        

        </table>



    </div>

<img src="/img/logo.png" alt="">





    </form>
</section>




<%-include('partials/footer.ejs') %>
<script src="/js/alumnos-crud.js"></script>
</body>
</html>