<%-include('partials/header.ejs'); %> 
<%- include('partials/nav.ejs')%>

<section>
  <div id="formulario">

    <form action="/cotizacion" method="post">
        <label for="">Valor de Automovil</label>
    <input type="number" name="valor" id="valor" required  value= "<%=valor%>"> <br>
    <label for="">Porcentaje de Pago Inicial</label>
    <input type="number" name="pinicial" id="pinicial" required value = "<%=pinicial%>"> <br>
    <label for="">Plazos</label>
    <select name="plazos" id="plazos">
        <option value="12">12 Meses</option>
        <option value="24">24 Meses</option>
        <option value="36">36 Meses</option>
        <option value="48">48 Meses</option>
        <option value="60">60 Meses</option>
    </select>
    <button type="submit">Calcular</button>
    <button type="reset">Limpiar</button>
    </form>
    
<%  


%>


  </div>

</section>


<%-include('partials/footer.ejs') %>  