
<%-include('partials/header.ejs')%>
   
<%-include('partials/nav.ejs')%>

<p>    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ex consequuntur libero amet aperiam quo praesentium. Expedita deserunt beatae sit, in enim animi nulla, atque doloremque iure, veniam dicta. Incidunt.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni commodi suscipit earum sint debitis labore odit obcaecati odio quidem quasi quos porro deserunt nemo, minus voluptatum consectetur iste reprehenderit nisi?
Magnam, minus facilis. Corrupti, numquam minima architecto consequatur dolores ducimus nisi repudiandae, delectus eaque dolorum cum sint assumenda officia maxime eius. Voluptas explicabo voluptate ducimus, officiis nemo similique delectus reiciendis?
Repellendus sed animi placeat beatae harum ex sapiente officia aliquid commodi velit reprehenderit et numquam recusandae, esse saepe vel suscipit aut. Aliquam saepe eveniet error maxime rerum aperiam delectus expedita.
</p>

<%-include('partials/footer.ejs') %>
</body>
</html>